torch
taming-transformers-rom1504
k-diffusion
omegaconf
diffusers
fairscale
tqdm
python-slugify
einops
facexlib
kornia
opencv-python-headless
basicsr
gfpgan
realesrgan
loguru
pydantic
bitsandbytes
transformers
open-clip-torch
pytorch-lightning
accelerate
ray
webdataset
safetensors
prettytable
