torch>=1.12.0+cu113
ray
invisible-watermark
taming-transformers-rom1504
k-diffusion @ git+https://github.com/crowsonkb/k-diffusion.git
omegaconf
Jinja2
diffusers
ftfy
fairscale
timm
tqdm
python-slugify
piexif
accelerate
einops
facexlib
kornia
opencv-python-headless
open-clip-torch
realesrgan
basicsr
gfpgan
realesrgan
latent-diffusion @ git+https://github.com/CompVis/latent-diffusion
codeformer-perceptor
loguru
tensorflow==2.9.0
torch-fidelity
bitsandbytes==0.35.0
pytorch_lightning==1.7.6
transformers==4.25.1
accelerate==0.15.0
pydantic